In [12]:
from sklearn.model_selection import train_test_split
import pandas as pd
#importing data
data=pd.read_csv(r"D:\SOME_THINGS\Projects\python-examples\Note_Book\Machine_Learning\PANDAS\1.csv", header=None, names=["x", "y"])
X=data[["x"]]
y=data[["y"]]
#Splitting data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=44, shuffle =True)
#Splitted Data
print('X_train shape is ' , X_train.shape)
print('X_test shape is ' , X_test.shape)
print('y_train shape is ' , y_train.shape)
print('y_test shape is ' , y_test.shape)

X_train shape is  (46, 1)
X_test shape is  (24, 1)
y_train shape is  (46, 1)
y_test shape is  (24, 1)

In [15]:
y_test.describe ()

               y
count  24.000000
mean    4.829563
std     5.317962
min    -1.421100
25%     1.611437
50%     4.360300
75%     6.180400
max    24.147000