In [1]:
from sklearn.datasets import load_iris
IrisData = load_iris()

##features
X = IrisData.data #here we take the columns of featuers'independent values'
Feature_Names=IrisData.feature_names
print("X shape is {}".format(X.shape))
print("Feature Names is : {}\n".format(Feature_Names))

##Target
y=IrisData.target #here we take the columns of target 'dependent values'
Targe_Names=IrisData.target_names
print(f"y shape is {y.shape}")
print(f"Target Names is : {Targe_Names}")

X shape is (150, 4)
Feature Names is : ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

y shape is (150,)
Target Names is : ['setosa' 'versicolor' 'virginica']

In [5]:
import pandas as pd

X = pd.DataFrame(X)

pd.set_option("display.float_format", '{:.2f}'.format)
X.describe()

           0      1      2      3
count 150.00 150.00 150.00 150.00
mean    5.84   3.06   3.76   1.20
std     0.83   0.44   1.77   0.76
min     4.30   2.00   1.00   0.10
25%     5.10   2.80   1.60   0.30
50%     5.80   3.00   4.35   1.30
75%     6.40   3.30   5.10   1.80
max     7.90   4.40   6.90   2.50

In [2]:
from ydata_profiling import ProfileReport

ModuleNotFoundError: No module named 'ydata_profiling'